@charset "ISO-8859-1";

.container {
    max-width: 960px;
    text-align: center;
    margin: 30px;
    background-color: black;
    border: 1px solid black;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    
  }
a:link {
  color: green;
}
a:hover{
	text-decoration: none;
  color: #878787;
}
   .container1 {
    max-width: 500px;
    text-align: center;
    margin: 30px;
    background-color: #dc3545;
    border: 1px solid black;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
  }
    .container2 {
    max-width: 500px;
    text-align: center;
    margin: 30px;
    background-color: black;
    border: 1px solid black;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    border-radius:150px;
  }
  .container3{
    max-width: 960px;
    text-align: center;
    margin: 30px;
    background-color: black;
    border: 1px solid black;
    opacity: 0.85;
    margin-left: auto;
    margin-right: auto;
  }
  .container4{
    max-width: 960px;
    text-align: center;
    margin: 30px;
    background-color: red;
    border: 1px solid black;
    opacity: 0.85;
    margin-left: auto;
    margin-right: auto;
  }
  .border-top { 
  border-top: 1px solid #e5e5e5; 
  }
  .border-bottom {
   border-bottom: 1px solid #e5e5e5; 
   }
  .border-top-gray {
   border-top-color: #adb5bd; 
   }
  
  .box-shadow { 
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
  }
  
  .lh-condensed { line-height: 1.25; }

  .lead{
      color:rgba(255, 255, 255, 0.534);
  }

  .col-md-6{
color:white;
  }
  .heading{
      color:rgb(233, 223, 223);
  }
  .btn  {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }
 .login-link{
 text-align: center;
 font-size: 26px;
 max-width: 500px;
 display: inline-block;
 width: 180px;
    }
 .registered{
 color:blue;
 }
 .login-logo {
  text-align: center;
  margin-bottom: 15px; }
  .login-logo span {
    color: #ffffff;
    font-size: 24px; }

.login-content {
  max-width: 540px;
  margin: 8vh auto; }

.login-form {
  background: #ffffff;
  padding: 30px 30px 20px;
  border-radius: 2px; }

.login-form h4 {
  color: #878787;
  text-align: center;
  margin-bottom: 50px; }

.login-form .checkbox {
  color: #878787; }

.login-form .checkbox label {
  text-transform: none; }

.login-form .btn {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px;
  border: 0px; }

.login-form label {
  color: #878787;
  text-transform: uppercase; }

.login-form label a {
  color: #ff2e44; }
  
  .form-control-label {
  color: #878787;
  text-transform: uppercase; }
 /* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

.containernav{
	display:flex;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.index-container{
	background-color:#111;
}

.adminlogin:hover{
	color: #878787;
}